# HW 3: Using MongoDB to explore NoSQL databases

## Part 1:
Assignment: 
1. Write a Python program using PyMongo
1. Connect to MongoDB database 
    1. 'mongodb://classuser:abc321@ds133964.mlab.com:33964/bax423'
1. Create a new document collection: users
1. In the new document users collection, insert user documents (https://jsonplaceholder.typicode.com/users) using “insert_one” and “insert_many” operations
1. Query the document for the following fields:
    1. username
    1. city
    1. company name

In [1]:
import pymongo
from pymongo import MongoClient

import json

In [2]:
# Connect to our class's MongoDB Database

uri = 'mongodb://classuser:abc321@ds133964.mlab.com:33964/bax423'
client = MongoClient(uri)
db = client.bax423

JSON Objects from source: https://jsonplaceholder.typicode.com/users

an example looks like this
``` JSON
"id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catchPhrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }
```

In [9]:
user = {
    "id": 1616,
    "name": "Scoot Scooty",
    "username": "scootscooty",
    "email": "scoot@scoot.scoot",
    "address": {
      "street": "Scoot street",
      "suite": "Suite Scoot",
      "city": "Scootsville",
      "zipcode": "16161-6161",
      "geo": {
        "lat": "64.7511",
        "lng": "147.3494"
      }
    },
    "phone": "911-555-5555 x55555",
    "website": "www.scoot.gov",
    "company": {
      "name": "Scoot's toilet paper",
      "catchPhrase": "Number 1 in the number 2 business",
      "bs": "We clean butts"
    }
}

user_1 = {
    "id":1111,
    "username":"userone",
    "address":{
        "city":"onesies"
    },
    "company":{
        "name":"Uno"
    }
}

user_2 = {
    "id":2222,
    "username":"usertwo",
    "address":{
        "city":"twoson"
    },
    "company":{
        "name":"Too"
    }
}

users = db.users

# Push the individual 'user' to the database
result = users.insert_one(user)

# Push multiple users (user_1 and user_2) to the database
result = users.insert_many([user_1,user_2])

# Check the id of this additional user so you can find it later, if necessary
#result.inserted_id

# Return the number of users within this database
users.count()

36

In [12]:
# Search for the three users that were added

# Define the ids we want to search for
user_id = 1616
user_one_id = 1111
user_two_id = 2222

# Create json objects for each of the three users
user = users.find_one({"id":user_id})
user_one_json = users.find_one({"id":user_one_id})
user_two_json = users.find_one({"id":user_two_id})

# username objects
username = user['username']
username_one = user_one_json['username']
username_two = user_two_json['username']

# city objects
city = user['address']['city']
city_one = user_one_json['address']['city']
city_two = user_two_json['address']['city']

# company name objects
company_name = user['company']['name']
company_name_one = user_one_json['company']['name']
company_name_two = user_two_json['company']['name']

# Results
print('Within post id: '+str(user_id)+', the username is: '+str(username)+str('\n')+
      'The city of the user is: ' +str(city)+str('\n')+
      'The name of the company associated with this user is: '+str(company_name)+str('\n'))

print('Within post id: '+str(user_one_id)+', the username is: '+str(username_one)+str('\n')+
      'The city of the user is: ' +str(city_one)+str('\n')+
      'The name of the company associated with this user is: '+str(company_name_one)+str('\n'))

print('Within post id: '+str(user_two_id)+', the username is: '+str(username_two)+str('\n')+
      'The city of the user is: ' +str(city_two)+str('\n')+
      'The name of the company associated with this user is: '+str(company_name_two)+str('\n'))

Within post id: 1616, the username is: scootscooty
The city of the user is: Scootsville
The name of the company associated with this user is: Scoot's toilet paper

Within post id: 1111, the username is: userone
The city of the user is: onesies
The name of the company associated with this user is: Uno

Within post id: 2222, the username is: usertwo
The city of the user is: twoson
The name of the company associated with this user is: Too

## Part 2
Assignment:
1. Create a new document collection: posts
1. In the new document posts collection, insert all post documents (https://jsonplaceholder.typicode.com/posts)
1. Update several documents using “update_one” and “update_many” operations

In [5]:
post = {
    "userId":16,
    "id":100,
    "title":"Scott's addition",
    "body":"Nobody else should use this id or userId because it's special for me"
}

posts = db.posts

result = posts.insert_one(post)
result.inserted_id

# Return the number of posts within this database
posts.count()

In [6]:
json_users